body {
    background-color:whitesmoke;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

#background-dark {
    background-color: #333A42;
    color: white;
}

#background-light {
    padding-top: 50px;
    background-color:whitesmoke;
}

.jumbotron {
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../res/main.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#jumbo {
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../res/kids.jpg');
    background-position-y: 0%;
    background-size: cover;
}

.member-frame {
    margin-top: 25px;
    margin-bottom: 25px;
}

.member-pic {
    margin-top:25px;
    margin-bottom: 25px;
}

.member-name {
    color: #5b6269;
    font-weight: 200;
    font-size: 1.5rem;
    margin-top:2rem;
    margin-bottom: 2rem;
}

.member-desc {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
    color: #777;
}

.demo-frame {
    margin-top: 25px;
    margin-bottom: 25px;
}

.demo-pic {
    margin-top:25px;
    margin-bottom: 25px;
}

.demo-name {
    color: #5b6269;
    font-weight: 200;
    font-size: 1.5rem;
    margin-top:2rem;
    margin-bottom: 2rem;
}

.demo-desc {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
    color: #777;
}

.footah {
    background-color: #5b6269;
}